@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


body{
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	line-height: 1.6;
	color: #24292d;
	font-weight 400

}

html,
body {
	height: 100%; /*as we are using full screen background images we need to force the html and body to fill 
	all the available inside the view port, so they can display, using this tag ensures that*/ 
} 

header{
height:100%;
background: #3a4549 url(../images/planes.jpg) no-repeat center; 
background-size: cover;
/*if we used the display flx here we can perfectly sit the header in the middle*/

}

h1 { /*position absolute is much similar to fixed in that it takes element out from flow of page*/
	position: absolute; /*position absolute is much similar to fixed in that it takes element out of the flow of the page. we can position */
	left: 50%;
	top: 50%; /*when we use left and top properties to position the logo, it will position it 
	from its top left hand corner, off setting it massively */	
	

	margin-left: -300px;  /*we use the trick of applying negative margins to pull the logo back over */
	margin-top: -132px;

} 

.hero-arrow {
	position: absolute;
	bottom: 30px;
	left: 50%;		
	margin-left: -22px
}


.about_us { 
	background-color: #BCB4AC;	
	text-align: center; /*uses same trick as teatime project, where the bottom of the phone is chopped off  */
	overflow: hidden;

}

h2 {

	font-size: 28px;
	text-transform: uppercase;
	font-weight: 700; 
	margin: 50px 0;
	text-align: center;
	color: white;


  }

  hr { 
  	height: 4px;
    color: #ed1d61;
    background: #ffffff;
    color: #ffffff;
    font-size: 0;
    border: 0;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: -50px;
    margin-bottom: 20px;


}
 

h3 {
	
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	padding: 20px 100px 20px 100px;



}
/*
h4 {

	padding-left: 250px;
	text-align: center;*/

}
   


p { 
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: 400;	
	line-height: 1.7em;

}

footer{
	text-align: center;
	font-size: 12px; 
	color: #ffffff;		
	padding-bottom: 12px;
	padding-top: 12px;	
	background-color: #AFA59C;	

}

/*.container{
	text-align: center;
	width: 100%;
	margin: 70px 0;*/



.column {


	width: 17%;
    margin: 20px auto;
    display: inline-block;	
    padding-top: 20px;
    padding-bottom: 30px;

   
    




  	
}

/*table { 
    margin-left: auto;
    margin-right: auto;
}*/



footer a {
	text-decoration: none;
	margin:0 30px; 


}

footer p {
	margin-top: 20px;
	font-size: 12px; 
	text-align: center;


}


@media all and (max-width: 700px) {
    

	header {
		  background-position: 96% 100%; 
	}	  


    h3 {
        font-size: 10px;
        padding: 40px 25px 0px 25px;
    }

    p { 
	text-align: center;
	color: white;
	font-size: 13px;
	font-weight: 400;	
	line-height: 1.4em;


}



.column{

	margin: 30px 0;
	float: none;
	width: 100%;
	display: block;


	
	
}

h1  { 
	position: absolute; 
	max-width: 350px;
	left: 50%;
	top: 50%; 
	

	margin-left: -175px;  
	margin-top: -132px;
 





	




 
























